{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
<div class="h2">Change Password for User: {{ username }}</div>
<form action="/changepassword" method="post">
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" name="old_password" placeholder="Old Password" type="password">
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" name="new_password" placeholder="New Password" type="password">
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" name="confirm_password" placeholder="Confirm Password" type="password">
    </div>
    {% if feedback %}
    <div class="w-auto mx-auto mb-2" style="color: red">{{feedback}}</div>
    {% endif %}
    <button class="btn btn-primary" type="submit">Change Password</button>
</form>
{% endblock %}
