{% extends "layout.html" %}

{% block title %}
    Tags
{% endblock %}

{% block main %}
<script></script>
<div class="mb-3 h1 "><strong>Create your own custom tags!</strong> </div>
<div class="mb-2 lead"><ins>How does tags work?</ins> </div>
<p style="width: 70%" class="mx-auto"><small>Tags are completely fully customizable by the user, where users can create their own tags to
                                             use in their own appointments for easier tagging instead of manual typing. So instead of typing
                                             out whatever it is repeatedly for mutiple appointments, you can do the same with just a click of
                                             a button. Try creating one!</small></p>


<div class="row">
    <div class="col">
        <div class="h1 mb-3">Create a Tag</div>
        <form action="/tags" method="post" class="mb-3">
            <input required type="text" class="custom-input mx-auto" style="width: 50%" placeholder="Tag name" name="tag_name">
            <button class="btn btn-info mb-3 mx-auto " type="submit">Create Tag</button>
            <div class="mb-3" style="color: red">{{ error }}</div>
        </form>
    </div>
    <div class="col">
        <div class="h1 mb-3">Delete Existing tags</div>
        <form action="/deletetags" method="post" class="mb-3">
            <select required class="form-select-sm mx-auto mb-3 custom-input" name="tag_name">
            <option selected disabled>Select Tag</option>
            {% for tag in tags %}
            <option value="{{tag.tag_name}}">{{tag.tag_name}}</option>
            {% endfor %}
            </select>
            <button class="btn btn-danger mb-3" type="submit">Delete Tag</button>
        </form>
    </div>
</div>




{% if tags %}
    <div class="mb-3 h2"> Your Current Tags</div>
    <div class="btn-group mb-4 d-flex flex-wrap" role="group">
    {% for tag in tags %}
    <btn class="btn btn-outline-primary">{{tag.tag_name}}</btn>
    {% endfor  %}
    </div>
{% else %}
    <div class="mb-3 mx-auto text-center"> By the way, You currently have no tags <i class="bi bi-emoji-frown"></i></div>
{% endif %}


{% endblock %}
